@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url('/trip-background.jpg');
  background-size: cover;
  background-position: center;
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}
